<div class="container container-sm mt-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Reset password</h4>

      <%= form_with url: users_passwords_resets_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, required: true, class: 'form-control' %>
        </div>

        <%= f.submit class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
