@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

body {
  overflow: hidden;
}

.dropdown-toggle {
  &.btn-block {
    position: relative;

    &:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 0;
    }
  }
}
