@import 'variables';
@import '~bootstrap/scss/variables';

.container {
  margin-bottom: 1.5rem;
  margin-right: 1rem;

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    display: block;
    padding: .25rem 0 .25rem 1rem;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: rgba($gray-lighter, .5);

    &:hover {
      background-color: rgba($gray-light, .25);
      text-decoration: none;
    }
  }

  .active {
    a {
      color: $white;
      background-color: rgba($gray-light, .5);
    }
  }
}
