@import '~bootstrap/scss/variables';

.container {
  flex-basis: 48px;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: rgba($black, .25);

  img {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
    border-radius: $border-radius;
  }

  button {
    padding: 0;
    color: #fff;
    line-height: 48px;
    text-align: left;
  }
}
