@import '~bootstrap/scss/variables';

.container {
  flex-grow: 1;
  padding: 3rem;
  background-color: $white;

  > div {
    max-width: 580px;
    margin: auto;
  }

  h2 {
    margin-bottom: 1.5rem;
  }
}
