@import 'variables';
@import '~bootstrap/scss/variables';

.container {
  margin-right: 1rem;
  margin-left: 1rem;

  h3 {
    display: inline-block;
    margin-bottom: .75rem;
    color: rgba($gray-lighter, .5);
    font-size: $small-font-size;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding-left: 0;
    color: $gray-light;
  }

  li {
    display: inline-block;
    margin-right: .25rem;
    margin-bottom: .25rem;
  }

  img {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: $white;
  }
}
