@import 'variables';
@import '~bootstrap/scss/variables';

.container {
  h3 {
    display: inline-block;
    margin-bottom: .75rem;
    color: $gray-light;
    font-size: $small-font-size;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding-left: 0;
    color: $gray-light;
  }

  li {
    display: inline-block;
    margin-right: .25rem;
    margin-bottom: .25rem;
  }

  img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: $white;
  }
}
