<% if object && object.errors.any? %>
  <ul class="alert alert-danger">
    <% object.errors.full_messages.each do |message| %>
      <li class="ml-3"><%= message %></li>
    <% end %>
  </ul>
<% end %>
