<div data-controller="tags" data-tags-default="<%= tag_list %>">
  <template>
    <span>
      <%= text_field_tag name, nil, readonly: true %>
      <span data-action="click->tags#remove">&times;</span>
    </span>
  </template>
  <div data-target="tags.list">
  </div>
  <div data-controller="typeahead" data-typeahead-items="<%= typeahead_tags %>">
    <template data-target="typeahead.template">
      <li data-action="click->typeahead#click"></li>
    </template>
    <input data-action="keypress->tags#keypress keydown->typeahead#keydown keyup->typeahead#keyup blur->typeahead#blur" data-target="tags.input typeahead.input" />
    <ul data-target="typeahead.menu">
    </ul>
  </div>
</div>
