<div data-controller="tags" data-tags-default="<%= tag_list %>">
  <template>
    <span>
      <%= text_field_tag name, nil, readonly: true %>
      <span data-action="click->tags#remove">&times;</span>
    </span>
  </template>
  <div data-target="tags.list">
  </div>
  <input data-action="keypress->tags#keypress" data-target="tags.input" />
</div>
