<div data-controller="tags">
  <template>
    <%= render 'tags/item', name: nil %>
  </template>
  <div data-target="tags.list">
    <% post.tags.each do |tag| %>
      <%= render 'tags/item', name: tag.name %>
    <% end %>
  </div>
  <input data-action="keypress->tags#keypress" data-target="tags.input" />
</div>
