<div data-controller="tags" data-tags-default="<%= tag_list %>">
  <template>
    <span>
      <%= text_field_tag name, nil, readonly: true %>
      <span data-action="click->tags#remove">&times;</span>
    </span>
  </template>
  <div data-target="tags.list">
  </div>
  <input autocomplete="off"
    data-controller="autocomplete-tag"
    data-action="keypress->tags#keypress"
    data-target="tags.input autocomplete-tag.textarea"
    data-autocomplete-tag-tag-names="<%= autocomplete_tag_names%>"
    placeholder="Press Enter to add tag" />
</div>
