<div data-controller="tags" data-tags-default="<%= tag_names %>">
  <template>
    <span class="mr-1">
      <%= text_field_tag name, nil, readonly: true, class: 'form-control d-inline-block mb-2 mr-1 w-25' %>
      <span data-action="click->tags#remove">&times;</span>
    </span>
  </template>

  <div data-target="tags.list" class="mb-2">
  </div>

  <input autocomplete="off"
    placeholder="Press Enter to add tag"
    data-controller="autocomplete--tag"
    data-action="keypress->tags#keypress"
    data-target="tags.input autocomplete--tag.textarea"
    data-autocomplete--tag-tag-names="<%= autocomplete_tag_names %>"
    class="form-control w-50" />
</div>
