@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~emojione-picker/css/picker';

body {
  overflow: hidden;
  background-color: $gray-lightest;
}

.dropdown-toggle {
  &.btn-block {
    position: relative;

    &:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 0;
    }
  }
}

.emoji-dialog {
  .emoji {
    width: auto;
    height: auto;
    outline: none;
  }

  .emojione {
    width: 22px;
    height: 22px;
  }

  .emoji-search {
    outline: none;
  }

  .modifiers {
    display: none;
  }
}
