@import 'variables';
@import '~bootstrap/scss/variables';

.container {
  margin-bottom: 1.5rem;

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    display: block;
    padding: .25rem 0 .25rem 1rem;
    color: rgba($white, .5);

    &:hover {
      background-color: rgba($gray, .25);
      text-decoration: none;
    }

    span {
      color: rgba($white, .25);
    }
  }

  .active {
    a {
      color: $white;
      background-color: rgba($gray, .5);

      span {
        color: rgba($white, .5);
      }
    }
  }
}
