@import '~bootstrap/scss/variables';

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid rgba($black, .125);
  line-height: 48px;

  a {
    margin-left: .75rem;
    color: $gray-light !important;
    cursor: pointer;

    &:hover {
      color: $link-hover-color !important;
    }
  }
}

.right {
  float: right;
}
