@import 'variables';
@import '~bootstrap/scss/variables';

.container {
  display: inline-block;
}

.channel {
  font-weight: bold;

  span {
    color: rgba($gray, .75);
  }

  &.editable {
    cursor: pointer;

    &:hover {
      color: $link-hover-color;

      span {
        color: rgba($link-hover-color, .75);
      }
    }
  }
}

.delete {
  margin-top: .5rem;
  font-size: $small-font-size;
  text-align: right;

  a {
    color: $link-color !important;
    cursor: pointer;

    &:hover {
      color: $link-hover-color !important;
      text-decoration: $link-hover-decoration !important;
    }
  }
}
