@import '~bootstrap/scss/variables';

.container {
  flex-basis: 49px;
  flex-shrink: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid rgba($black, .125);
  line-height: 48px;
}

.right {
  float: right;
}
