@import 'variables';
@import '~bootstrap/scss/variables';

.container {
  flex-basis: 50%;
  overflow: scroll;
  padding: 3rem;
  background-color: $white;

  p,
  ul,
  ol {
    font-size: $font-size-lg;
  }

  ul,
  ol {
    padding-left: 1.5rem;
  }

  blockquote {
    padding: .75rem 1.25rem;
    border-radius: $border-radius;
    background-color: $gray-lightest;
    color: $gray;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
