@import 'variables';
@import '~bootstrap/scss/variables';

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid rgba($black, .125);
  color: $gray;
  line-height: 48px;
}

.channel {
  font-weight: bold;

  span {
    color: rgba($gray, .75);
  }

  &.editable {
    cursor: pointer;

    &:hover {
      color: $link-hover-color;

      span {
        color: rgba($link-hover-color, .75);
      }
    }
  }
}

.delete {
  margin-top: .5rem;
  font-size: $small-font-size;
  text-align: right;
}

.right {
  float: right;

  span {
    color: rgba($gray, .75);
  }
}
