@import 'variables';
@import '~bootstrap/scss/variables';

.card {
  overflow: hidden;
  height: 130px;
  margin: 0 1rem .5rem;
  background-color: $white;
  cursor: pointer;
  transition: $transition-base;

  &:hover,
  &.selected{
    border: 1px solid rgba($blue, .25);

    .block {
      background-color: rgba($blue, .05);
    }
  }
}

.block {
  padding: 1rem 1rem;
}

.user {
  margin-bottom: .5rem;
  line-height: 24px;

  img {
    width: 24px;
    height: 24px;
    margin-right: .5rem;
    border-radius: 100%;
    background-color: $gray-lighter;
    vertical-align: bottom;
  }

  span {
    margin-left: .25rem;
    color: $gray-light;
    font-size: $small-font-size;
  }
}

.content {
  margin-bottom: .25rem;
  color: $gray;
}

.created_at {
  color: $gray-light;
  font-size: $small-font-size;
}

.icons {
  float: right;
  color: $orange;
  font-size: $small-font-size;

  span {
    vertical-align: middle;
  }
}
