@import 'variables';
@import '~bootstrap/scss/variables';

.container {
  display: inline-block;
}

.content {
  overflow: scroll;
  max-height: 360px;
}

.users {
  font-weight: bold;

  span {
    color: rgba($gray, .75);
  }

  &.editable {
    cursor: pointer;

    &:hover {
      color: $link-hover-color;

      span {
        color: rgba($link-hover-color, .75);
      }
    }
  }
}
