@import '~bootstrap/scss/variables';

.container {
  margin-right: .25rem;
}

.button {
  padding-right: .6rem;
  padding-left: .6rem;
  vertical-align: top;
}

.icon {
  margin-right: .25rem;
}

.popover {
  border: none;
}
