@import '~bootstrap/scss/variables';

.container {
  display: inline-block;
}

.icon {
  color: $gray-light;
  cursor: pointer;

  &:hover,
  &.active {
    color: $orange;
  }
}

.popover {
  border: none;
}
