.search {
  a {
    @extend .mb-1;

    img {
      opacity: .5;
    }

    &.active,
    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  &-labels {
    a {
      @extend .label-light;
      @extend .small;

      &:hover,
      &.active {
        @extend .label;
      }
    }
  }

  .row {
    a {
      @extend .col-6;
      display: inline-block !important;
    }
  }
}
