<div>
  <%= link_to 'Post View', posts_path %>
  <%= link_to 'List View', posts_lists_path %>
  <%= link_to 'Calendar View', posts_calendar_path(year: Date.today.year, month: Date.today.month) %>
</div>
