<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <%= render 'nav' %>

      <% @posts.each do |post| %>
        <div class="card mb-3">
          <div class="card-body">
            <%= render post %>
          </div>
        </div>
      <% end %>

      <div class="mb-4">
        <%= paginate(@posts) %>
      </div>
    </div>

    <div class="col-md-4 py-3 border-left-md">
      <%= render 'search_form' %>
    </div>
  </div>
</div>
