<div class="container container-sm mt-4">
  <div class="mb-4 show-post">
    <%= render @post %>
  </div>

  <div class="list-group mb-4">
    <%= render partial: 'posts/comments/comment', collection: @comments %>

    <div class="list-group-item py-3">
      <%= render 'posts/comments/form', comment: @post.comments.new %>
    </div>
  </div>
</div>
